<html>
    <head></head>
    <body>
        <h1>Exibindo Restaurante</h1>
        
        <p>
            <b>Foto:</b>
                <%= image_tag @restaurante.foto.url(:thumb) %>
        </p>        
        <p>
            <b>Nome: </b>
            <%= @restaurante.nome %>
        </p>

        <p>
            <b>Endereco: </b>
            <%= @restaurante.endereco %>
       </p> 
        
        <p>
            <b>Especialidade</b>
            <%= @restaurante.especialidade %>
        </p>

       <p>
            <b>Nota média: </b>
                <%= @restaurante.qualificacoes.average(:nota) %><br />
      </p> 
       <p>
            <b>Qualificações: </b>
                <%= @restaurante.qualificacoes.count() %><br />
      </p> 
       <p>
            <b>Preço médio: </b>
                <%= @restaurante.qualificacoes.average(:valor_gasto) %><br /><br />
      </p> 
    <%= novo_comentario @restaurante %>
    <br />
    <%= comentarios @restaurante %>   
     <br />
        <%= link_to 'Editar', action: 'edit', id: @restaurante %> |
        <%= link_to 'voltar', action: 'index' %> |
        <%= link_to 'Qualificar este restaurante', controller: 'qualificacoes', action: 'new', restaurante: @restaurante %>
    </body>
</html>
